<!--Player Search Element-->
<div class="playerS">
  <form>
    <h2>Search by Player</h2>
    <p>Compare player stats to decide which player to start this week and which to keep on your<br>
      bench. Fantasy Scout makes it easy to make even the hardest lineup decisions
    </p>
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    <input type="submit" value="Submit">
  </form>
</div>

<!--Player Information Element-->
<div class="playerI">
  <h2>Player Details</h2>
</div>