div{
    text-align: center;
    font: bold;
    font-weight: 700;
    color: red;
    size: 7em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

p{ 
    text-align: center;
    color: black;
    font: bold;
}