div{
    text-align: center;
    font: bold;
    font-weight: 700;
    color: red;
    size: 7em;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
}

p{ 
    text-align: center;
    color: white;
    font: bold;
}
form{
    background: darkslategrey;
}