.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0px 20px;
    text-align: center;
}

.positionS {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 20px;
}

.positionI {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    padding: 20px;
}
.simPositions {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
}

h2{
    font: bold;
    color: rgb(204,85,0);
    font-weight: 700;
    font-size: x-large;
}
h3{
    font:  bold;
    color: white;
    font-weight: 350;
    font-size: initial;
}
p{
    text-align: center;
    font-weight: 300;
    font: bold;
    color: white;
    font-size: initial;
}
table {
    text-align: left;
}

idcol {
    width: 25px
}
namecol {
    width: 75px
}
abcol {
    width: 25px
}
desccol {
    width: 1650px
}
form{
    font: bold;
    color: white;
}