<!--Position Search Element-->
<div class="positionS">
  <form>
    <h2>Search by Position</h2>
    <p>Search the top rushing, passing and receiving performers by season and week.<br>
       Discover the players that are heating up or cooling off.<br>
       Even use this feature during your league's draft to find sleeper picks that are ready<br>
       to have their breakout season!
    </p>
    Season:<br>
    <input type="text" name="season"><br>
    Week:<br>
    <input type="text" name="week"><br>
    <input type="button" value="Rushing">
    <input type="button" value="Passing">
    <input type="button" value="Receiving"><br>
    <br><input type="submit" value="Submit">
  </form>
</div>