<!DOCTYPE html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>


<!--Position Search Element-->
<div class="grid">
  
  <div class="positionS">
    <form>
      <h2>Learn about a Position!</h2>
      <p>Choose a position below and learn more about it.</p>
      Position:<br>
      <select>
          <option value="" selected disabled hidden>Choose here</option>
          <option value="quarterback">Quarterback</option>
          <option value="runningback">Running Back</option>
          <option value="widereceiver">Wide Receiver</option>
      </select>

      <br><br><input type="submit" value="Submit">
    </form>
  </div>
    <h2> {{position.name}} Detail</h2>
    <!--Similar Positions-->
    <table class="table">
     <thead>
         <tr>
             <th>ID</th>
             <th>Name</th>
             <th>Abreviation</th>
             <th>Descrition</th>
         </tr>
     </thead>
     <tbody>
       <tr>
         <td>{{position.id}}</td>
         <td>{{position.name}}</td>
         <td>{{position.abreviation}}</td>
         <td>{{position.Descrition}}</td>
       </tr>
   </tbody>
   </table>

  </div>
  <div>
      <span>TEST</span>  {{position.id}}
  </div>
</body>