.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 0px 20px;
}

.positionS {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    padding: 20px;
}

.positionI {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    padding: 20px;
}
.simPositions {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    padding: 20px;
}

h2{
    font: bold;
    color: black;
    font-weight: 700;
    font-size: x-large;
}
p{
    text-align: left;
    font-weight: 700;
    font: bold;
    color: black;
    font-style: oblique;
    font-size: initial;
}
form{
    font-style: oblique;
    font: bold;
    color: black;
}