
h1{
    text-align: left;
    color: red;
    background-color: black;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0px 20px;
}

.headLog {
}

.playerS {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.playerI {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.teamS {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
}

.teamI {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
}

.positionS {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

.positionI {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}