.nav-bar
{
	background: darkgrey;
	padding: 0;
}


.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid gray;
	min-height: 55px;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus
{
	color: black;
	background-color: white;
}

.nav a:hover
{
	color: white;
	background-color: rgb(204,85,0);
	background-size: 15px 10px
}

.nav a:active
{
	color: white;
	background-color: rgb(204,85,0);
}



.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}
	
	.nav a
	{
		-webkit-transition-duration: 0.4s; 
		transition-duration: 0.4s;
	}
